.home-container {
  min-height: 80vh; /* Set the minimum height to 100% of the viewport height */
}
.col-md-6 {
  padding-left: 90px;
}
.fon{
  font-size: 18;
}
.car-box{
  margin: 0 auto;
}
/* .explore{

} */

.test {
  /* border: 1px solid red; */
  gap: 1em;
}

.test > img {
  height: 85%;
}

.cars--container {
  /* border: 3px solid blue; */
  width: 70em;
  max-width: 80%;
  padding-top: 5em;
}